*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
  background: #111;
  color: #fff;
}

/* HERO imgs/test_0.jpg  https://d48-a.sdn.cz/d_48/c_img_gS_q/Yr1ee.jpeg*/
.hero {
  position: relative;
  min-height: 100vh;
  background: url("https://www.adapterraawards.cz/getattachment/f6845dd1-8af6-4a76-ab36-b26652ebe9cf/revitalizace-skoly-ceskobrodska-praha?width=910") center / cover no-repeat;
  display: flex;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(10, 25, 47, 0.9) 0%,
    rgba(10, 25, 47, 0.6) 40%,
    rgba(10, 25, 47, 0.2) 100%
  );
}

.hero-content {
  position: relative;
  max-width: 700px;
  padding: 4rem;
  z-index: 2;
}

.hero-badge {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;

  padding: 0.45rem 1rem;
  margin-bottom: 1.5rem;

  border-radius: 999px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);

  color: #e6f6ff;
  font-size: 0.9rem;
  font-weight: 500;

  border: 1px solid rgba(255, 255, 255, 0.15);
}

.hero-badge .dot {
  width: 8px;
  height: 8px;
  background: #3ee6b8;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(62, 230, 184, 0.8);
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  line-height: 1.1;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  color: #d0d6e0;
  margin-bottom: 2rem;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.btn {
  padding: 0.9rem 1.6rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s ease;
}

.btn-primary {
  background: #1ea7ff;
  color: #fff;
}

.btn-primary:hover {
  background: #0d8ce0;
}

.btn-secondary {
  border: 1px solid rgba(255,255,255,0.4);
  color: #fff;
}

.btn-secondary:hover {
  background: rgba(255,255,255,0.1);
}
.hero-divider {
  width: 100%;
  height: 1px;
  margin: 2.5rem 0 2rem 0;

  background: linear-gradient(
    90deg,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.35) 50%,
    rgba(255,255,255,0) 100%
  );
}
/* STATS */
.hero-stats {
  display: flex;
  gap: 3rem;
}

.stat strong {
  font-size: 2rem;
  display: block;
}

.stat span {
  font-size: 0.9rem;
  color: #aab2c3;
}

/* SCROLL */
.scroll-indicator {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  opacity: 0.6;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translate(-50%, 0); }
  50% { transform: translate(-50%, 10px); }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content {
    padding: 2rem;
  }

  .hero-stats {
    gap: 1.5rem;
  }
}





